@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap'); 

.todo-list-template {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 4rem;
}

.title {
  padding: 2rem;
  font-size: 3rem;
  font-family: 'Noto Sans KR';
  text-align: center;
  font-weight: 100;
  background: rgba(255, 179, 166,1);;
  color: white;
}

.form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #f1acac;
}

.todos-wrapper {
  min-height: 5rem;
}