@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

ul{
    list-style: none;
    padding : 0;
}
.quizWrapper{
    width: 800px;
    margin: 50px auto;
}
.questionTitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: lightcoral;
    width:100%;
    margin: 10px auto;
    padding: 10px;
    color: white;
}
.question{
    text-align: center;
    font-family: 'Nanum Gothic';
    font-size: 1.5rem;
    width:100%;
}

.answerList {
    margin-bottom: 100px;
}

.answerList li{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 15px 0 15px 0;
    cursor: pointer;
    color: #444;
    width:100%;
}
.answerList li:hover{
    font-weight: bold;
}
.viewResult{
    width: 150px;
    height: 50px;
    border: 3px solid rgb(255,179,166);
    border-radius: 7px;
    background-color: white;
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    font-weight: bold;
    color : rgb(255,179,166);
}
