@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

ul{
    list-style: none;
    padding : 0;
}

.questionTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: lightcoral;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    color: white;
}
.question{
    text-align: center;
    font-family: 'Nanum Gothic';
    font-size: 1.5rem;

}
.answerList li{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 15px 0 15px 0;
    cursor: pointer;
    color: #444;
    
}
.answerList li:hover{
    font-weight: bold;
}